*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Fuentes*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Tilt+Prism&display=swap');


main{    
    background-color: rgb(250, 229, 199);    
}

.santaana{
    background-color: #e4bdbd;     
    font-family: 'Tilt Prism', sans-serif; /*fuente del titulo*/
}

h1{
    font-size: 3.5;
    
}

h2{
    font-size: 3.5;
}

h3{
    font-size: 2em;
}

p{
    font-size: 1.40rem;
    text-align: center;    
    height: 35px 25px ;
}


.miestilo{             /* mi estilo de la barra de nav */
    list-style: none;    
    padding: 10px;
    font-family: 'Montserrat', sans-serif;    
}

.miestilo a{    
    text-decoration: none;
    padding: 0.1rem;
}

.miestilo a:hover{
    background-color: rgb(217, 10, 10);    
}

/*Primer pagina,inicio*/

button{
    margin: 50px;
    font-size: 2rem;
    font-weight: bold;
    padding: 2px 1.30px ;
    border-radius: 30px ;
    border: 6px solid rgb(254, 51, 51);
    box-shadow: 2px 2px 10px rgba(5, 5, 5, 0.5);
    color: rgb(23, 133, 32);
    background-color: rgb(220, 187, 250);
}

button:hover{
    background-color: #151318;
}

.portada1{    
    background-color: rgb(176, 255, 183);
    margin-top: 0 10px;
    text-align: center;
    justify-content: center;
}

.frutos{  
    justify-content:space-around;
}

.carta{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    text-align: center;    
}

.carta1{
    border-radius: 30px;
    margin: 0 50px;
    background-color: rgb(209, 23, 23);    
}

.carta1:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.carta2{
    border-radius: 30px;
    margin: 0 50px;
    background-color: rgb(176, 92, 255);
}

.carta2:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.carta3{
    border-radius: 30px;
    margin: 0 50px;
    background-color: rgb(240, 127, 193);
}

.carta3:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.2);
}

.certificaciones{
    text-align: center;
}

.logos{
    text-align: center;
    display: flex;    
    justify-content:space-around;
}

.mensaje{    
    text-align: center;
    display: block;
}

.mensaje p{
    padding-top: 50px;
}

    
    /*pagina 2 nosotros*/


.nosotros{
    background-color: rgb(176, 255, 183);
    text-align: center;        
}

.nos{
    text-align: center;
    background-color: rgb(176, 255, 183);
}

.historia{
    display: flex;
    font-size: 1rem;
    font-weight: bold;    
    text-align: center;    
    justify-content: center;
    margin: 100px;
}

.misiones{
    font-size: 1rem;
    font-weight: bold;    
    display: flex;    
    margin: 0 auto;
    text-align: center;    
    justify-content: center;
    
}

.oficina{
    text-align: center;
}

    /*pagina 3 establecimientos*/


.establecimientos{    
    text-align: center;
    background-color: rgb(176, 255, 183);
    align-items: center;
}


    /*pagina 4 productos*/


.productos{
    justify-content: center;        
    text-align: center;
    background-color: rgb(176, 255, 183);
    gap: 20px;
        
}

.congelados{
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    gap: 20px;  
    height: auto;
    width: auto;        
}


    /*pagina 5 contactos*/


.contac{
    text-align: center;
    background-color: rgb(176, 255, 183);
    margin: 0 auto;
}

.formulario{
    display: flex;    
    justify-content: center;
    text-align: center;    
}

.mapa{    
    width: 470px ;    
    height: 250px ;        
}

.mapamundi{
    height: 550px;
    width: 600px;
}


    /*footer con redes*/

footer section{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;    
}

.redes{
    background-color: hwb(266 31% 18% / 0.527);
    width: 100%;
    height: 100px;
}

.redes img{
    width: 60px;
    height: 60px;
    margin-top: 1rem;
}

/*mediaquerries*/

@media screen and (min-width: 600px){
        main{            
            /*background-color: rgb(146, 146, 255);*/ 
            /*el color estaria invertido? esta main con un color arriba, pero se estaria aclarando que es a partir de los 600px aca no?*/
        }
        .frutos{
            flex-direction: column;/*No me estaria funcionando las cartas de inicio un ningun @mediaquerries*/
        }
        .formilario{
            flex-direction: column;/*el mapa con el formulario tampoco quiere funcionar,que estoy haciendo mal?*/
            justify-content: center;
        }
}       

@media screen and (min-width: 768){
    body{
        background-color: aquamarine;
    }
    .carta{        
        flex-direction: column;        
        text-align: center;
}
