@import url("https://fonts.googleapis.com/css2? family= Montserrat & family= Tilt+Prism & family= Vast+Shadow & display=swap");
/*Fuentes*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }
  * .error {
    background-color: #178520; }
  * .mainbox {
    background-color: #ffd79e;
    margin: auto;
    height: 800px;
    width: 800px;
    position: relative; }
    * .mainbox .err {
      color: #ed3d3d;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 15rem;
      position: absolute;
      left: 20%;
      top: 8%; }
    * .mainbox .far {
      position: absolute;
      font-size: 12rem;
      left: 42%;
      top: 15%;
      color: #ed3d3d; }
    * .mainbox .err2 {
      color: #ed3d3d;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 15rem;
      position: absolute;
      left: 68%;
      top: 8%; }
    * .mainbox .msg {
      text-align: center;
      font-family: 'Nunito Sans', sans-serif;
      font-size: 1.6rem;
      position: absolute;
      left: 16%;
      top: 45%;
      width: 75%; }
    * .mainbox a {
      text-decoration: none;
      color: #ed3d3d; }
      * .mainbox a:hover {
        text-decoration: underline; }

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly; }
  footer .redes {
    text-align: center;
    background-color: #bf7bff;
    width: 100%;
    height: 100px; }
  footer .redes img {
    width: 60px;
    height: 60px;
    margin-top: 1rem;
    margin: 15px 10px; }

header .miestilo {
  background-color: #bf7bff;
  list-style: none;
  padding: 10px;
  font-family: 'Montserrat', sans-serif; }
  header .miestilo a {
    text-decoration: none;
    padding: 0.1rem; }
    header .miestilo a:hover {
      background-color: #050505; }

main {
  background-color: #ffd79e; }
  main h1 {
    font-size: 3.5; }
  main h2 {
    font-size: 3.5; }
  main h3 {
    font-size: 2rem; }
  main p {
    font-size: 1.40rem;
    text-align: center;
    height: 35px 25px; }
  main .portada1 {
    /*html inicio*/
    background-color: #b0ffb7;
    margin-top: 0 10px;
    text-align: center;
    justify-content: center; }

.santaana {
  /*transform de tutulo*/
  background-color: #e4bebe;
  font-family: 'Tilt Prism', sans-serif; }
  .santaana:hover {
    transform: scale(2, 2); }

.frutos {
  justify-content: space-around;
  display: flex;
  justify-content: center;
  text-align: center; }
  .frutos .carta {
    margin: 120px 50px;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    text-align: center; }
    .frutos .carta .carta1 {
      /*@extend .carta;*/
      border-radius: 300px;
      margin: 0 50px;
      background-color: #ed3d3d; }
      .frutos .carta .carta1:hover {
        box-shadow: 5px 5px 20px #050505; }
    .frutos .carta .carta2 {
      /*@extend .carta;*/
      border-radius: 300px;
      margin: 0 50px;
      background-color: #bf7bff; }
      .frutos .carta .carta2:hover {
        box-shadow: 5px 5px 20px #050505; }
    .frutos .carta .carta3 {
      /*@extend .carta;*/
      border-radius: 300px;
      margin: 0 50px;
      background-color: #f47fc3; }
      .frutos .carta .carta3:hover {
        box-shadow: 5px 5px 20px #050505; }

button {
  margin: 50px;
  font-size: 2rem;
  font-weight: bold;
  padding: 2px 1.30px;
  border-radius: 30px;
  border: 6px solid #ed3d3d;
  box-shadow: 2px 2px 10px 2px #050505;
  color: #178520;
  background-color: #dcbbfa; }
  button:hover {
    background-color: #050505; }

.certificaciones {
  margin: 120px 50px;
  text-align: center; }
  .certificaciones .logos {
    text-align: center;
    display: flex;
    justify-content: space-around; }

.mensaje {
  text-align: center;
  display: block; }
  .mensaje .envianos {
    padding-top: 50px;
    font-family: 'Vast Shadow', serif; }

.nosotros {
  /*html establecimientos*/
  background-color: #b0ffb7;
  text-align: center;
  padding-top: 25px; }

.historia {
  display: flex;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  justify-content: center;
  margin: 100px; }

.misiones {
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  margin: 100px;
  text-align: center;
  justify-content: center; }

.oficina {
  text-align: center; }

.establecimientos {
  /*html establecimientos*/
  text-align: center;
  background-color: #b0ffb7;
  align-items: center;
  padding-top: 25px; }

.productos {
  /* html productos*/
  justify-content: center;
  text-align: center;
  background-color: #b0ffb7;
  gap: 20px;
  padding-top: 25px; }

.congelados {
  margin: 20px 50px;
  font-weight: bold;
  text-align: center; }

.estilopropio {
  margin: 50px 50px;
  text-align: center;
  justify-content: center; }
  .estilopropio .estilo1 {
    margin: 0 auto;
    border-radius: 20px;
    background-color: #ed3d3d; }
  .estilopropio .estilo2 {
    background-color: #bf7bff;
    margin: 0 auto; }
  .estilopropio .estilo3 {
    margin: 0 auto;
    background-color: #f47fc3; }

.contac {
  /*aca html contactos*/
  text-align: center;
  background-color: #b0ffb7;
  margin: 0 auto; }

.formulario {
  justify-content: center;
  display: flex;
  margin-top: 20px; }
  .formulario .form {
    width: 320px;
    margin: 60px;
    border-radius: 10px;
    background-color: #bf7bff;
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold; }
  .formulario .mapa {
    margin: 60px; }

@media screen and (max-width: 768px) {
  .formulario {
    flex-direction: column;
    text-align: center; }
  body {
    background-color: #050505; }
  .carta {
    flex-direction: column; } }

@media screen and (max-width: 320px) {
  .formulario {
    flex-direction: column; } }
