$producto2:rgb(191, 123, 255);

footer{
    display: flex;
    flex-direction:row;
    justify-content:space-evenly;
    .redes{
        text-align: center;
        background-color: $producto2;
        width: 100%;
        height: 100px;
    }
    .redes img{
        width: 60px;
        height: 60px;
        margin-top: 1rem;
        margin: 15px 10px;
    }

}