@import "variables";
header{
    .miestilo{        
        background-color: $producto2; 
        list-style: none;    
        padding: 10px;
        font-family: 'Montserrat', sans-serif;
        a{
            text-decoration: none;
            padding: 0.1rem;
            &:hover{
                background-color:$bordedelborde;    
            }
        }        
    } 
} 