main{
    background-color: $fondo1;
    h1{
        font-size:$fontsiz;        
    }    
    h2{
        font-size:$fontsiz;
    }    
    h3{
        font-size: 2rem;
    }    
    p{
        font-size: 1.40rem;
        text-align: $tectalin;    
        height: 35px 25px ;        
    }
    .portada1{                                                        /*html inicio*/
        background-color: $fondo2;
        margin-top: 0 10px;
        text-align: $tectalin;
        justify-content: $tectalin;        
        }                
    }
    .santaana{
        padding-top: 5px 5px;                /*transform de tutulo*/
        background-color: $fondo3;   
        font-family: 'Tilt Prism', sans-serif;        
        &:hover{
            transform: scale(2,2);  
        }
    }
    .frutos{  
        justify-content:space-around;        
        @include flex ;
        justify-content: $tectalin;
        text-align: $tectalin;
        .carta{
            margin: 120px 50px;
            margin-top: 70px;
            @include flex ;
            justify-content: $tectalin;
            text-align: $tectalin;
            .carta1{
                /*@extend .carta;*/
                @include cartas;
                background-color: $producto1;
                &:hover{
                    box-shadow: 5px 5px 20px $bordedelborde;
                }                
            }
            .carta2{
                /*@extend .carta;*/
                @include cartas;
                background-color: $producto2;
                &:hover{
                    box-shadow: 5px 5px 20px $bordedelborde;
                }
            }
            .carta3{
                /*@extend .carta;*/
                @include cartas;
                background-color: $producto3;
                &:hover{
                    box-shadow: 5px 5px 20px $bordedelborde;
                }
            }    
        }            
    }
    button{
        margin: 50px;
        font-size: 2rem;
        font-weight: bold;
        padding: 2px 1.30px ;
        border-radius: 30px ;
        border: 6px solid $producto1;
        box-shadow: 2px 2px 10px 2px $bordedelborde;
        color: $letraboton;
        background-color: $fondoboton;
        &:hover{
            background-color: $bordedelborde;
        }
    }
    .certificaciones{
        margin: 120px 50px;
        text-align: $tectalin;
        .logos{
            text-align: $tectalin;
            @include flex;
            justify-content: space-around;
        }    
    }
    .mensaje{    
        text-align: $tectalin;
        display: block;            
        .envianos{
            padding-top: 50px;
            font-family: 'Vast Shadow', serif;
        }
    }    
    .nosotros{                                          /*html nosotros*/
        background-color: $fondo2;
        text-align: $tectalin;
        padding-top: 25px;        
    } 
    .historia{
        @include flex;
        font-size: 1rem;
        font-weight: bold;    
        text-align: $tectalin;    
        justify-content:$tectalin;
        margin: 100px;
    }
    .misiones{
        font-size: 1rem;
        font-weight: bold;    
        @include flex;  
        margin: 100px;
        text-align: $tectalin;    
        justify-content: $tectalin;        
    }
    .oficina{
        text-align: center;
        margin-top: 100px;
    }
    .establecimientos{                         /*html establecimientos*/
        text-align: $tectalin;
        background-color: $fondo2;
        align-items: $tectalin;
        padding-top: 25px;
        margin: 0 auto;        
    }
    .miestilo2{
        padding-top: 120px;        
    }
    .video{
        text-align: $tectalin;
        margin-top: 60px;
    }    
    .productos{                                     /* html producto*/
        justify-content: $tectalin;        
        text-align: $tectalin;
        background-color: $fondo2;
        gap: 20px;
        padding-top: 25px;        
    }
    .congelados{
        margin: 30px ;    
        font-weight: bold;
        text-align: $tectalin;
    }
    .estilopropio{
        padding-top: 100px;
        margin: 0 auto;        
        text-align: $tectalin;
        justify-content: $tectalin;
        .estilo1{
            margin: 0 auto;
            border-radius: 50px;
            background-color: $producto1;
        }
        .estilo2{
            border-radius: 50px;
            background-color: $producto2;
            margin: 0 auto;
        }
        .estilo3{
            border-radius: 50px;
            margin: 0 auto;
            background-color:$producto3;
        }
    }
    .contac{                                 /*aca html contactos*/
        text-align: $tectalin;
        background-color: $fondo2;
        margin: 0 auto;
        padding-top: 25px;        
    }    
    .formulario{        
        justify-content: $tectalin;
        @include flex;  
        margin-top: 120px;
        .form{            
            width: 320px;            
            margin: 60px ;
            border-radius: 10px;
            background-color: $producto2;                                   
            text-align: $tectalin;
            font-size: 1.1rem;
            font-weight: bold;            
        }
    .mapa{ 
        margin: 60px;                
    }    
}


