@import url('https://fonts.googleapis.com/css2? family= Montserrat & family= Tilt+Prism & family= Vast+Shadow & display=swap');/*Fuentes*/

@import "body";
@import "footer";
@import "header";
@import "main";
@import "media";
@import "var";